* {
  margin: 0 auto;
}

header {
  width: 1440px;
  display: grid;
  grid-template-columns: 388px 1fr 240px;
  padding: 92px 49px 90px 51px;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: space-between;
  align-self: center;
  font-size: 18px;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  padding-bottom: 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-bottom: 5px;
}
.header__links-no-underline {
  text-decoration: none;
}

.header__links-list-item::marker {
  font-size: 20px;
}

.header__links-underline {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 2px;
  margin: 0;
}

.header__logo {
  padding-right: 148px;
}

.header__logo-image {
  width: 148px;
  padding: 1px 6px;
  align-self: center;
  justify-self: center;
}

address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 24px;
  text-align: left;
  font-size: 18px;
  font-style: normal;
}

address p {
  height: 50px;
}

.cover {
  width: 1440px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-size: 100px;
  color: white;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 115%;
  width: 1340px;
  padding: 165px 0px 0px 50px;
}

.aligned-text_center {
  width: 1280px;
  padding-left: 160px;
  padding-top: 20px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.cover__title-letter {
  letter-spacing: 60px;
  padding-top: 20px;
}

.cover__description {
  padding-top: 135px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  justify-content: flex-end;
  margin: 0;
  gap: 70px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
  color: white;
  font-weight: normal;
  line-height: 28px;
  text-align: left;
  margin: 0;
  padding-right: 7px;
}

.test {
  margin-left: 7px;
}

.bet-button {
  width: 257px;
  height: 52px;
  margin: 0;
  background: transparent;
  border: 1px solid white;
  color: white;
  margin-right: 50px;
  cursor: pointer;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  width: 1440px;
  padding: 180px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.lots__heading {
  width: 100%;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.lots__card-list-item {
  width: 430px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
}

.card__text {
  padding: 32px 40px 50px 40px;
  line-height: 120%;
  font-size: 20px;
  color: white;
}

.card-link {
  text-underline-position: under;
  text-underline-offset: -2px;
  text-decoration-thickness: 1px;
  margin: 0;
}

.lots__look-more-link {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 20px;
}